[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "stmlib"]
	path = stmlib
	url = https://github.com/pichenettes/stmlib
